In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("washington-history.csv")
data.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,WA,5041.0,NaN,0,NaN,19599.0,19599.0,431.0,43,...,5393756.0,24040,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,2021-03-06,WA,5041.0,NaN,9,NaN,19556.0,19556.0,431.0,56,...,5369716.0,25314,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2,2021-03-05,WA,5032.0,NaN,20,NaN,19500.0,19500.0,413.0,34,...,5344402.0,24021,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3,2021-03-04,WA,5012.0,NaN,24,NaN,19466.0,19466.0,461.0,33,...,5320381.0,18873,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4,2021-03-03,WA,4988.0,NaN,19,NaN,19433.0,19433.0,467.0,61,...,5301508.0,21178,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [2]:
data.tail()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
415,2020-01-17,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
416,2020-01-16,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
417,2020-01-15,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
418,2020-01-14,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
419,2020-01-13,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [3]:
data.shape

(420, 41)

In [4]:
data.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.loc[(data.deathIncrease==5)]

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
172,2020-09-16,WA,2020.0,2020.0,5,NaN,7162.0,7162.0,357.0,35,...,1676702.0,10987,NaN,NaN,NaN,NaN,NaN,0,NaN,0
213,2020-08-06,WA,1624.0,1624.0,5,NaN,5840.0,5840.0,518.0,61,...,1173650.0,14589,NaN,NaN,NaN,NaN,NaN,-1009486,NaN,0
235,2020-07-15,WA,1404.0,1404.0,5,NaN,4788.0,4788.0,497.0,10,...,876825.0,16850,NaN,NaN,NaN,NaN,718234.0,9960,NaN,0
244,2020-07-06,WA,1359.0,1359.0,5,NaN,4482.0,4482.0,398.0,9,...,747998.0,17749,NaN,NaN,NaN,NaN,612706.0,5430,NaN,0
258,2020-06-22,WA,1270.0,1270.0,5,NaN,4049.0,4049.0,362.0,19,...,576444.0,13634,NaN,NaN,NaN,NaN,474938.0,8869,NaN,0
277,2020-06-03,WA,1129.0,1129.0,5,NaN,3543.0,3543.0,474.0,26,...,407704.0,7329,NaN,NaN,NaN,NaN,355785.0,5328,NaN,0
281,2020-05-30,WA,1111.0,1111.0,5,NaN,3455.0,3455.0,541.0,42,...,380960.0,4087,NaN,NaN,NaN,NaN,335508.0,3298,NaN,0
287,2020-05-24,WA,1055.0,1055.0,5,NaN,3256.0,3256.0,560.0,26,...,343829.0,2823,NaN,NaN,NaN,NaN,306465.0,2342,NaN,0
317,2020-04-24,WA,659.0,NaN,5,NaN,NaN,NaN,551.0,0,...,191084.0,6176,NaN,NaN,NaN,NaN,179977.0,5509,NaN,0

In [7]:
data.notnull().sum()

date                                420
state                               420
death                               376
deathConfirmed                      227
deathIncrease                       420
deathProbable                         0
hospitalized                        291
hospitalizedCumulative              291
hospitalizedCurrently               338
hospitalizedIncrease                420
inIcuCumulative                       0
inIcuCurrently                      217
negative                              0
negativeIncrease                    420
negativeTestsAntibody                 0
negativeTestsPeopleAntibody           0
negativeTestsViral                   28
onVentilatorCumulative                0
onVentilatorCurrently               291
positive                            419
positiveCasesViral                  419
positiveIncrease                    420
positiveScore                       420
positiveTestsAntibody                 0
positiveTestsAntigen                  0
positiveTestsPeopleAntibody           0
positiveTestsPeopleAntigen            0
positiveTestsViral                   28
recovered                             0
totalTestEncountersViral            411
totalTestEncountersViralIncrease    420
totalTestResults                    411
totalTestResultsIncrease            420
totalTestsAntibody                    0
totalTestsAntigen                     0
totalTestsPeopleAntibody              0
totalTestsPeopleAntigen               0
totalTestsPeopleViral               159
totalTestsPeopleViralIncrease       420
totalTestsViral                       0
totalTestsViralIncrease             420
dtype: int64

In [8]:
data.loc[(data.deathIncrease==5)&(data.hospitalized>=4000)]

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
172,2020-09-16,WA,2020.0,2020.0,5,NaN,7162.0,7162.0,357.0,35,...,1676702.0,10987,NaN,NaN,NaN,NaN,NaN,0,NaN,0
213,2020-08-06,WA,1624.0,1624.0,5,NaN,5840.0,5840.0,518.0,61,...,1173650.0,14589,NaN,NaN,NaN,NaN,NaN,-1009486,NaN,0
235,2020-07-15,WA,1404.0,1404.0,5,NaN,4788.0,4788.0,497.0,10,...,876825.0,16850,NaN,NaN,NaN,NaN,718234.0,9960,NaN,0
244,2020-07-06,WA,1359.0,1359.0,5,NaN,4482.0,4482.0,398.0,9,...,747998.0,17749,NaN,NaN,NaN,NaN,612706.0,5430,NaN,0
258,2020-06-22,WA,1270.0,1270.0,5,NaN,4049.0,4049.0,362.0,19,...,576444.0,13634,NaN,NaN,NaN,NaN,474938.0,8869,NaN,0

In [9]:
data.loc[(data.deathIncrease==5)|(data.hospitalized>=4000)]

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,WA,5041.0,NaN,0,NaN,19599.0,19599.0,431.0,43,...,5393756.0,24040,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,2021-03-06,WA,5041.0,NaN,9,NaN,19556.0,19556.0,431.0,56,...,5369716.0,25314,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2,2021-03-05,WA,5032.0,NaN,20,NaN,19500.0,19500.0,413.0,34,...,5344402.0,24021,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3,2021-03-04,WA,5012.0,NaN,24,NaN,19466.0,19466.0,461.0,33,...,5320381.0,18873,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4,2021-03-03,WA,4988.0,NaN,19,NaN,19433.0,19433.0,467.0,61,...,5301508.0,21178,NaN,NaN,NaN,NaN,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2020-06-20,WA,1255.0,1255.0,10,NaN,4003.0,4003.0,359.0,44,...,559013.0,7072,NaN,NaN,NaN,NaN,474876.0,689,NaN,0
277,2020-06-03,WA,1129.0,1129.0,5,NaN,3543.0,3543.0,474.0,26,...,407704.0,7329,NaN,NaN,NaN,NaN,355785.0,5328,NaN,0
281,2020-05-30,WA,1111.0,1111.0,5,NaN,3455.0,3455.0,541.0,42,...,380960.0,4087,NaN,NaN,NaN,NaN,335508.0,3298,NaN,0
287,2020-05-24,WA,1055.0,1055.0,5,NaN,3256.0,3256.0,560.0,26,...,343829.0,2823,NaN,NaN,NaN,NaN,306465.0,2342,NaN,0
317,2020-04-24,WA,659.0,NaN,5,NaN,NaN,NaN,551.0,0,...,191084.0,6176,NaN,NaN,NaN,NaN,179977.0,5509,NaN,0

In [10]:
data["hospitalizedCurrently"].mean()

609.1627218934912

In [11]:
data.replace(to_replace=np.nan,value=98 ,inplace=True)

In [12]:
data

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,WA,5041.0,98.0,0,98.0,19599.0,19599.0,431.0,43,...,5393756.0,24040,98.0,98.0,98.0,98.0,98.0,0,98.0,0
1,2021-03-06,WA,5041.0,98.0,9,98.0,19556.0,19556.0,431.0,56,...,5369716.0,25314,98.0,98.0,98.0,98.0,98.0,0,98.0,0
2,2021-03-05,WA,5032.0,98.0,20,98.0,19500.0,19500.0,413.0,34,...,5344402.0,24021,98.0,98.0,98.0,98.0,98.0,0,98.0,0
3,2021-03-04,WA,5012.0,98.0,24,98.0,19466.0,19466.0,461.0,33,...,5320381.0,18873,98.0,98.0,98.0,98.0,98.0,0,98.0,0
4,2021-03-03,WA,4988.0,98.0,19,98.0,19433.0,19433.0,467.0,61,...,5301508.0,21178,98.0,98.0,98.0,98.0,98.0,0,98.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,WA,98.0,98.0,0,98.0,98.0,98.0,98.0,0,...,98.0,0,98.0,98.0,98.0,98.0,98.0,0,98.0,0
416,2020-01-16,WA,98.0,98.0,0,98.0,98.0,98.0,98.0,0,...,98.0,0,98.0,98.0,98.0,98.0,98.0,0,98.0,0
417,2020-01-15,WA,98.0,98.0,0,98.0,98.0,98.0,98.0,0,...,98.0,0,98.0,98.0,98.0,98.0,98.0,0,98.0,0
418,2020-01-14,WA,98.0,98.0,0,98.0,98.0,98.0,98.0,0,...,98.0,0,98.0,98.0,98.0,98.0,98.0,0,98.0,0
419,2020-01-13,WA,98.0,98.0,0,98.0,98.0,98.0,98.0,0,...,98.0,0,98.0,98.0,98.0,98.0,98.0,0,98.0,0

In [13]:
data=pd.read_csv("Pokemon.csv")

# data.replace(to_replace=np.nan,value=98 ,inplace=True)
data.head(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [15]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [16]:
data["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [17]:
data.sort_values("Generation",ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
738,670,Floette,Fairy,NaN,371,54,45,47,75,98,52,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
742,674,Pancham,Fighting,NaN,348,67,82,62,46,48,43,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,102,Exeggcute,Grass,Psychic,325,60,40,80,60,45,40,1,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False
108,100,Voltorb,Electric,NaN,330,40,30,50,55,55,100,1,False
107,99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [18]:
data.sort_values(["Generation","Speed"],ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,683,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False
748,679,Honedge,Steel,Ghost,325,45,80,100,35,37,28,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
752,682,Spritzee,Fairy,NaN,341,78,52,60,63,65,23,6,False

In [19]:
attack_mean = data["Attack"].mean()
def set_attack(val):
    if val < attack_mean:
        return "Attack Low"
    else:
        return "Attack High"

In [20]:
data.loc[:,["type"]].value_counts()

KeyError: "None of [Index(['type'], dtype='object')] are in the [columns]"

In [ ]:
data["Attack_high_low"]= data["Attack"].apply(set_attack)
data

In [ ]:
data=pd.read_csv("netflix_titles.csv")
data

In [ ]:
data.loc[:,["type"]].value_counts()

In [ ]:
type(data.loc[3,"cast"])

In [ ]:
val = data["cast"]
val["cast"]=data.cast.astype(str)
type(val)

In [ ]:

data

In [ ]:
# val = data["cast"]
val["cast"]=data.cast.astype(str)
type(val)

In [ ]:
data.loc[data["title"]!="Kota Factory"]

In [ ]:
data.loc[data["title"]=="Kota Factory"]

In [ ]:
data.loc[data["rating"]=="PG-13"]

In [ ]:
data["cast"].isnull().sum()

In [ ]:
# data["cast"]=data["cast"].replace(np.nan,"faisal")
# data.loc[data["cast"]=="faisal"]

In [ ]:
data.groupby("director")["release_year"].value_counts()

In [ ]:

def cast_len(val):
    if val =="None":
        return 0
    else:
        return len(str(val).split(", "))

In [ ]:
data["cast"].isnull().sum()

In [ ]:
data["cast"].replace(np.nan,"None",inplace=True)
data

In [ ]:
data["Cast_len"]=data["cast"].apply[cast_len]

In [ ]:
data.head()